@media (max-width: 374px) {
  .btn-xs {
    font-size: 0.75rem !important;
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}
